/*----------------------------------
SASS
----------------------------------*/
/*----------------------------------
STYLE GUIDE
----------------------------------*/
body {
  background: #fff;
}

hr {
  width: 80%;
}

/*----------------------------------
TYPOGRAPHY 
----------------------------------*/
h2, h3, h4, h5, h6 {
  color: #282828;
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 35px;
}

/*main headings*/
h3 {
  font-size: 35px;
  text-align: left;
}

/* blog post titles*/
h4 {
  font-size: 25px;
  text-decoration: underline;
}

/*menu sections*/
h5 {
  font-size: 25px;
  text-align: left;
}

/*blog author*/
h6 {
  font-size: 18px;
  text-align: left;
}

/*menu items*/
/*----------------------------------
GENERAL PARAGRAPHS
----------------------------------*/
div.inverted {
  background: #055f33;
  padding: 25px;
}

p.inverted {
  color: #fff;
}

.itext {
  color: #fff;
}

/*----------------------------------
GENERAL PARAGRAPHS
----------------------------------*/
p {
  color: #282828;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

p.price {
  font-family: 'Lora', serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 2.2;
}

p.newsletter {
  font-family: 'Lora', serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

p.credits {
  font-family: 'Lora', serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.8;
}

p.datetime {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italics;
  line-height: 1.7;
}

p.bio {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italics;
  line-height: 2;
}

/*----------------------------------
BLOCKQUOTES
----------------------------------*/
blockquote.home {
  font-family: "Lora", serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
}

blockquote.blog {
  font-family: "Lora", serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  line-height: 38px;
}

/*----------------------------------
ICONS
----------------------------------*/
.icon {
  display: inline-block;
  width: 25%;
}

.leaf, .leafalt, .tree, .threetrees, .scale, .scalealt, .tupperware {
  width: 75px;
  height: 75px;
}

.icon-twitter, .icon-facebook, .icon-instagram {
  color: #282828;
  width: 75px;
  height: 75px;
}

/*----------------------------------
BUTTONS
----------------------------------*/
.buynow {
  background: #5aba52;
  color: #fff;
}

/*----------------------------------
COMPONENTS 
----------------------------------*/
/*----------------------------------
IMAGE SIZES
----------------------------------*/
/*Small*/
/*Medium*/
/*Large*/
/*----------------------------------
LAYOUT
----------------------------------*/
/*To be filled out later*/
